{% extends "user/base.html" %} 

{% block content %}
<br><br><br><br><br><br>
<div class="container-fluid mt-5 y">
      <h1 class="pb-2 border-bottom heading-text my-4 text-center">Beautiful 4 Bedrooms Terrace Duplex</h1>
      
      <div class="row">
        <div class="col-md-6"><img src="/static/images/house2.jpg" class="img-fluid jiji" alt=""> </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4"><img src="/static/images/house3.jpg" class="img-fluid jiji" alt=""> </div>
            <div class="col-md-4"><img src="/static/images/house6.jpg" class="img-fluid jiji" alt=""> </div>
            <div class="col-md-4"><img src="/static/images/house6.jpg" class="img-fluid jiji" alt=""> </div>
            
          </div>
          <div class="row">
            <div class="col-md-4"><img src="/static/images/house6.jpg" class="img-fluid jiji" alt=""> </div>
            <div class="col-md-4"><img src="/static/images/house7.jpg" class="img-fluid jiji" alt=""> </div>
            <div class="col-md-4"><img src="/static/images/house8.jpg" class="img-fluid jiji" alt=""> </div>
            
          </div>
        </div>
        
        
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Property Ref</th>
                <th>Property Name</th>
                <th>Property Address</th>
                <th>Property description</th>
                <th>Property Category</th>
                <th>Property Amount</th>
                <th>Last updated</th>
                <th>Property Status</th>
                <th>Owner Contact</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>23416785</td>
                <td>3 Bedrooms Bungalow</td>
                <td>No 9 Adisa Idowu Crescent AIT Road Lagos</td>
                <td>A newly built 3 Bedrooms Bungalow, Well tiled with spacious interlocked compound, kitchen cabinets, water runing, clean toilet</td>
                <td>Rent</td>
                <td>&#8358;70,000</td>
                <td>22/12/2023</td>
                <td>Avaliable</td>
                <td>08034240891</td>
              </tr>
              
            </tbody>
          </table>
        </div>
        
          
        </div>

      </div>
      
      
      
      
      
      
      
</div>
{% endblock content %}