{% extends "base.html" %}

{% block content %}

<div class="col-md-7 d-flex flex-column p-4 my-auto" id="contact">
    <div class="col-md-10 my-auto mx-auto bg-secondary text-white p-4">
        <div>
        <h5>Welcome to iBoss, your premier destination for buying land, houses, and renting apartments. We are excited to assist you in finding your dream property or answering any questions you may have.</h5>
        </div>
        <div><h5>Whether you're looking for a cozy home, a spacious piece of land, or the perfect apartment, our dedicated team is here to help. Feel free to reach out to us by filling out the form below, and we'll get back to you promptly.</h5></div>
    </div>
</div>
{% endblock %}